<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml" />
	
	<logger name="com.zaxxer.hikari" level="trace" />

	<logger name="org.springframework.boot" level="DEBUG" />
	
	
<!-- 	<logger name="org.hibernate.SQL" level="DEBUG" />
	<logger name="org.hibernate.jpa" level="DEBUG" /> -->
	
	<logger name="jdbc.sqltiming" level="INFO" />
	<logger name="jdbc.audit" level="ERROR" />
	<logger name="jdbc.resultset" level="ERROR" />
	<logger name="jdbc.sqlonly" level="ERROR" />
	<logger name="jdbc.resultsettable" level="ERROR" />
	<logger name="jdbc.connection" level="ERROR" />
	
</configuration>