<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Getting Started: Sober Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/${bootstrap.version}/css/bootstrap.min.css" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <script src="/webjars/jquery/${jquery.version}/jquery.min.js"></script>
	<script src="/webjars/bootstrap/${bootstrap.version}/js/bootstrap.min.js"></script>
</body>
</html>